body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 40px;
}

#flower {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("flower.png");
  animation: bloom 1s ease-in-out;
}

@keyframes bloom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#balls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

